extends layout

block title
  | - Welcome

block appID
  - var appID = 'author'

//-block topspacer

block app
  .page
    .container
      article
        h1 bio
        pre=JSON.stringify(author, null, 2)

      #posts
        h1 last posts
        pre=JSON.stringify(posts, null, 2)