extends layout

block title
  | I nostri autori - Human Capital and More - GSO Company

block appID
  - var appID = 'author'
  
block afterhead
  meta(property='og:title', content='I nostri autori - Human Capital and More - GSO Company')
  meta(property='og:description', content='')
  meta(property='og:image', content='//beta.humancapitalandmore.com/img/social/authors.png')

//-block topspacer

block app
  #lasts.page
    .container
      .container
        .text-center
          h2 Scrivono 
            strong per noi
          .spacer-40
      
      if authors && authors.length > 0

        .pure-g
        
          each author in authors

            .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-4
            
              - var pic = ''
              if author.get('autore.profilePic').main
                - pic = author.get('autore.profilePic').main.url

              .last-box
                .last-box-image(style='background-image: url("#{pic}");')
                .last-box-meta
                  h3
                    a(href=ctx.linkResolver(author))
                      =author.getText('autore.name')
                  p.authors
                    =author.getText('autore.role')
            
            

      else

        h1 Nessun autore.