extends layout

block title
  | - Welcome

block appID
  - var appID = 'author'

//-block topspacer

block app
  .page
    .container
      article
        | !{doc.asHtml(ctx.linkResolver)}