extends layout

block title
  | - Welcome

block appID
  - var appID = 'category'

//-block topspacer

block app
  
  - var posts = docs.results;  

  if (posts.length > 0)
  
    .page
      .container
        +printPost('categoryFeat', posts[0])

    .spacer-100

    if (posts.length > 1)
      #lasts.page
        .container.text-center
          h2 Altri articoli in 
            strong=_.find(rawCategories, { 'slug' : categorySlug }).titolo
          .spacer-40

          .pure-g
            each post in _.without(posts, posts[0])
              .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
                +printPost('categoryLatests', post)

          if (docs.prev_page || docs.next_page)
            .navi
              if docs.prev_page
                a(href='/?page=#{docs.page - 1}') « Previous Page

              if docs.next_page
                a(href='/?page=#{docs.page + 1}') Next Page »

  else
    .page
      .container
        .text-center
          h1 Ops!
          h3 Nessun articolo trovato in questa categoria... 

  .spacer-40