extends layout

block title
  | - Welcome

block appID
  - var appID = 'category'

//-block topspacer

block app
  .page
    .container
      h1 Category page

      pre=JSON.stringify(docs, null, 2)

