extends layout

block title
  | - Welcome

block appID
  - var appID = 'home'

//-block topspacer

block app
  .page
    .container
    
      .pure-g
        .pure-u-1.pure-u-lg-3-4

          - var tf = featuredPosts[0];

          .home-box(style='background-image: url("");')
            pre=JSON.stringify(tf.id, null, 2)
          
        .pure-u-1.pure-u-lg-1-4
          .pure-g
            - for (var i = 1; i < featuredPosts.length; i++)
              .pure-u-1.pure-u-sm-1-3.pure-u-lg-1
                .home-box.home-box-small(style='background-image: url("");')
                  pre=JSON.stringify(featuredPosts[i].id, null, 2)

  .page
    each last in lastPosts
      p
        =last.fragments['post.title'].value[0].text + ' - ' + (last.fragments['post.postDate'] ? last.fragments['post.postDate'].value : 'NO DATA')
        br
        a(href='/post/#{last.slug}/#{last.id}/')
          =last.fragments['post.title'].value[0].text
  
  .spacer-100

  #about.page.page-pattern
    .container.text-center
      .spacer-100
      h2 About us
      .spacer-40
      
      h4 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

      h4 Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
  
      .spacer-40
      img(src='/img/gso-company-gray.png', width='124', height='54')
      .spacer-100

