extends layout

block title
  | - Welcome

block appID
  - var appID = 'home'

//-block topspacer

block app
  .page
    .container
    
      
      #homeFeatSlider.swipe
        .swipe-wrap
          each fp in featuredPosts_
            +printPost('homeFeatsSlider', fp)

        .swipe-navigation
          a.prev(onclick='window.homeFeatSliderHandler.prev(); return false;')
            i.icon.icon-chevron-with-circle-left
          a.next(onclick='window.homeFeatSliderHandler.next(); return false;')
            i.icon.icon-chevron-with-circle-right


  .spacer-100

  
  #lasts.page
    .container.text-center
      h2 Ultime dal blog
      .spacer-40

      .pure-g
        each last in lastPosts_
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            +printPost('homeLatests', last)

  
  .spacer-100


  #about.page.page-pattern
    .container.text-center
      .spacer-100
      h2 About us
      .spacer-40
      
      h4 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

      h4 Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
  
      .spacer-40
      img(src='/img/gso-company-gray.png', width='124', height='54')
      .spacer-100
