extends layout

block title
  | - Welcome

//-block topspacer

block app
  .page
    .container
      h1 Welcome

      each doc in docs.results
        p
          =doc.fragments['post.title'].value[0].text + ' - ' + (doc.fragments['post.postDate'] ? doc.fragments['post.postDate'].value : 'NO DATA')
          br
          a(href='/post/#{doc.slug}/#{doc.id}/')
            =doc.fragments['post.title'].value[0].text


      //-pre(style='font-size:9px;')=JSON.stringify(docs, null, 2)

      if docs.prev_page
        a(href='/?page=#{docs.page - 1}') « Previous Page

      if docs.next_page
        a(href='/?page=#{docs.page + 1}') Next Page »

//-block scripts
