extends layout

block title
  | - Welcome

block appID
  - var appID = 'home'

//-block topspacer

block app
  .page
    .container
    
      .pure-g

        .pure-u-1.pure-u-lg-3-4
          +printPost('homeBig', featuredPosts_[0])

        .pure-u-1.pure-u-lg-1-4
          .pure-g           
            - for (var i = 1; i < featuredPosts_.length; i++)
              +printPost('homeFeats', featuredPosts_[i])


  .spacer-100

  
  #lasts.page
    .container.text-center
      h2 Ultimi articoli
      .spacer-40

      .pure-g
        each last in lastPosts_
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            +printPost('homeLatests', last)

  
  .spacer-100


  #about.page.page-pattern
    .container.text-center
      .spacer-100
      h2 About us
      .spacer-40
      
      h4 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

      h4 Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
  
      .spacer-40
      img(src='/img/gso-company-gray.png', width='124', height='54')
      .spacer-100
