extends layout

block title
  | - Welcome

block appID
  - var appID = 'post'

block topspacer
  .page.page-full-image(style='background-image: url("#{doc.fragments["post.featureImage"].value.views.fullscreen.url}");')
  .page.page-fixed-image

block app
  .page
    .container
      pre=JSON.stringify(doc,null,2)
      article
        | !{doc.asHtml(ctx.linkResolver)}

