@import ('nib')
@import ('font.css')

_accent = #de2f32
_light = #f2f2f2
_textlight = #a89f9f
_dark = #212121

_postWidth = 960px

.sans-font
  font-family 'museo-sans', sans-serif
.serif-font
  font-family 'adobe-caslon-pro', serif

.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .sans-font

html,
body
  width 100%
  height 100%
  @extends .sans-font
  color #333333

.pure-form
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .sans-font
    box-shadow none
    border none
  button
    @extends .sans-font
    & > *
      display inline-block
      vertical-align middle

.pure-button
  @extends .sans-font

h1, h2, h3,
h4, h5, h6
  font-weight normal
  margin 5px 0
  line-height 1.2em
  color _dark
  
  a
    text-decoration none
    color inherit
    transition color 0.3s ease
    
    &:hover
      color _accent

h1, h2, h3
  @extends .serif-font
  
  font-weight 400
  strong
    font-weight 600

h1
  font-size 48px
h2
  font-size 36px
  color lighten(_dark, 10%)
h3
  font-size 30px
h5
  text-transform uppercase
  color _textlight
  font-weight 700

_spacer = 5, 10, 20, 30, 40, 60, 80, 90, 100, 150, 190

for _val in _spacer
  .spacer-{ _val }
    height ( _val * 1px )

hr
  border none
  border-top 1px solid lighten(_textlight, 70%)
  margin 30px 0
  
    
.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

  
.page
  width 100%
  height auto
  
  &.page-light
    background #F2F2F2
    
  &.page-full-image
    background-size cover
    background-repeat no-repeat
    background-position center
    height 550px
    max-height 100%
    position relative
    overflow hidden
    
    box-shadow inset 0 -10px 10px -5px rgba(_dark, 0)
    transition box-shadow 0.5s ease
      
    &.fixed
      position fixed
      z-index 1
      top -370px
      left 0
      right 0
      
      box-shadow inset 0 -10px 10px -5px rgba(_dark, 0.2)
      
      .social-container
        position fixed
        bottom auto
        top 130px
        
    .social-container
      position absolute
      bottom 0
      left 0
      right 0
      z-index 2
      a
        display block
        float left
        margin-right 10px
        width 50px
        height 50px
        background #FFF
        opacity 1
        transition opacity 0.3s ease
        img
          display block
        &:hover
          opacity 0.9
          
      .post-title
        float right
        position relative
        top -25px
        opacity 0
        transition all 0.5s ease
        
        width auto
        width unquote('calc(100% - 200px)')
        
        &.fixed
          top 0
          opacity 1
        p
          color #FFF
          text-transform uppercase
          font-size 16px
          font-weight 300
          text-align right
          margin 14px 0 0 0
          
          text-overflow ellipsis
          white-space nowrap
          overflow hidden
          
          strong
            font-weight 700
        
  &.page-fixed-image
    height 550px
    display none
    &.fixed
      display block
      
  &.page-pattern
    background-color _light
    background-image url('../img/pattern-concrete.png')
    background-position center
    background-repeat repeat

pre
  font-size 12px
  word-wrap break-word

.container
  margin 0 auto
  padding 0 50px

.post-container
  max-width _postWidth

.loader
  position fixed
  z-index -1
  left 50%
  top 40%
  transform translate(-50%, -50%)
  .loader-inner
    & > div
      background lighten(_textlight, 30%)
  
//*** Layout Specifics ***//
header
  position fixed
  z-index 20
  top 50px
  left 50px
  right 50px
  background _light
  
  transition all 0.3s ease
  
  &.scrolled
    left 0
    top 0
    right 0
  
  .header-inner
    clearfix()
    .pull-left
      float left
    .pull-right
      float right

  a.gso-hcam-logo
    display block
    width 90px
    height 90px
    float left

  menu
    margin 0
    padding 0
    float left
    ul
      display block
      margin 0
      padding 0 0 0 20px
      list-style none
      li
        display inline-block
        a
          display block
          padding 0 20px
          height 90px
          line-height 90px
          font-weight 500
          font-size 14px
          text-transform uppercase
          text-decoration none
          color _textlight
          cursor pointer
          transition color 0.5s ease
        &:hover,
        &.selected
          a
            color _accent
      
  form#search-form
    #search-container
      display none
      background #FFF
      height 84px
      margin 3px
      input[type="text"]
        background none
        border none
        border-radius 0
        box-shadow none
        outline none
        padding 0 0 0 20px
        line-height 35px
        height 35px
        font-size 14px
      button.search-button
        line-height 84px
        height 84px
        padding-right 27px

    button.search-button
      background none !important
      border-radius 0
      box-shadow none
      color _textlight
      transition color 0.5s ease
      padding 0 30px 0 20px
      line-height 90px
      height 90px
      outline none
      i
        display inline-block
        vertical-align middle
        font-size 20px
      &:hover
        color _dark
      

footer
  background _dark
  color lighten(_dark, 40%)
  font-size 14px
  line-height 20px
  font-weight 300
  
  a
    color lighten(_dark, 40%)
    text-decoration none
    transition color 0.5s ease
    &:hover
      color _light
  
  .footer-inner
    padding 45px
  
  .company-profile,
  .footer-menu
    margin 0 5px 30px 5px
    
  ul.footer-menu
    list-style none
    padding 0
    li
      display block
      margin-bottom 10px
      line-height 16px
      a
        display block
        font-size 14px
        font-weight 300
        strong
          text-transform uppercase
          font-weight 700

section.app
  background #FFF
  min-height 700px
  transition opacity 0.5s ease
  &.fade
    opacity 0

    
#home
  .home-box
    background-position center
    background-repeat no-repeat
    background-color _light
    background-size cover
    height 540px
    &.home-box-small
      height 180px
      background darken(_light, 5%)
      &.odd
        background darken(_light, 10%)
  #about
    h4
      padding 15px 0
      margin 0 auto
      color #7B7B7B
      line-height 1.8em
      font-size 18px
      font-weight 300
      max-width _postWidth
      b, 
      strong
        font-weight 600
      a
        color _dark
        text-decoration underline
      
#lasts
  & > .container
    padding 0 30px
  & > .post-container
    max-width (_postWidth + 40)
    .last-box
      .last-box-image
        height 180px
        
  .last-box
    margin 0 20px 40px 20px
    text-align center
    .last-box-image
      background-position center
      background-repeat no-repeat
      background-color _light
      background-size cover
      height 240px

    .last-box-meta
      h3
        margin 25px 0 5px 0
      p
        font-size 14px
        color _textlight
        margin 0

#category
  .category-box
    background-position center
    background-repeat no-repeat
    background-color _light
    background-size cover
    height 540px
    &.category-box-small
      height 180px
      background _accent
      position relative
      h1
        @extends .sans-font
        position absolute
        font-size 30px
        line-height 40px
        text-transform uppercase
        text-align center
        font-weight 300
        color #FFF
        top 50%
        left 20px
        right 20px
        transform translate(0, -50%)
        
        
    &.category-box-double
      height 360px
      background darken(_light, 5%)
      overflow hidden
      
      .padding
        padding 30px
        text-align center
        
        h5
          margin 0 0 15px 0
        
        p.excerpt
          line-height 1.6em
          font-weight 300
          text-align justify

p.reading-time,
p.date
  color _textlight
  font-size 14px
  font-weight 300
  display inline-block
  background #F2F2F2
  border 1px solid #EEE
  padding 10px
  margin 0 10px 10px 0
  
  & > *
    display inline-block
    vertical-align middle
    margin-right 5px
    &:last-child
      margin-right 0
    
  strong
    font-weight 500
    
  i.icon
    margin-right 10px
    font-size 20px
    opacity 0.5

p.authors
  color _textlight
  margin-top 0
  margin-bottom 10px
  a
    font-weight 500
    color _textlight
    text-decoration none
    transition color 0.3s ease
    &:hover
      color _dark
    strong
      font-weight 500
      
ul.categories
  list-style none
  padding 0
  margin 0
  li
    display inline-block
    font-weight 500
    font-size 18px
    margin-right 20px
    a
      color _accent
      text-decoration none
      transition color 0.3s ease
      &:hover
        color darken(_accent, 20%)

form#search-noresults-form
  input
    border 1px solid #DDD
    margin 10px
  button
    background _accent
    border 1px solid _accent
    transition background 0.3s ease
    color #FFF
    margin 10px
    i
      margin-left 10px
      top 0
    span
      text-transform uppercase
      font-weight 700
      font-size 13px
      
    &:hover
      background lighten(_accent, 10%)
  
    
#post,
#author
  .post
    h1, h2, h3, h4, h5, h6, p, pre, blockquote
      display block
      max-width _postWidth
      margin 0 auto
      
    h1, h2, h3, h4, h5, h6
      padding 30px 0 15px 0
      
    p
      padding 15px 0
      text-align justify
      line-height 1.8em
      font-size 18px
      font-weight 300
      b, 
      strong
        font-weight 600
        
    a
      color _accent
      text-decoration none
      border-bottom 1px solid _accent
      font-weight 600
      transition all 0.3s ease
      &:hover
        color darken(_accent, 20%)
        border-bottom-color darken(_accent, 20%)
        
    p.block-img
      max-width 1280px
      margin 0 auto
      padding 40px 0
      img
        max-width 100%
        display block
        margin auto
    
    p.quote
      @extends .serif-font
      font-size 30px
      font-weight 400
      color _textlight
      line-height 1.2em
      text-align center
      strong
        color lighten(_textlight, 50%)
        font-weight 700
        display inline-block
        margin 0 5px

      
#author-meta
  a.author-meta
    height 100px
    color #FFF
    font-weight 500
    font-size 16px
    position relative
    text-decoration none
    display block
    transition background 0.3s ease
    
    & > span
      position absolute
      color #FFF
      top 50%
      left 30px
      right 30px
      transform translate(0, -50%)
      text-align center
      
      i.icon
        font-size 30px
    
    &.author-twitter
      background #02b0e8
      &:hover
        background lighten(@background, 10%)
    &.author-linkedin
      background #0077b6
      &:hover
        background lighten(@background, 10%)
    &.author-blog
      background #999
      &:hover
        background lighten(@background, 10%)
    &.author-email
      background #777
      &:hover
        background lighten(@background, 10%)

@media all and (max-width: 480px)
  
  header
    top 20px
    left 20px
    right 20px
  
  .spacer-190
    height 130px
  
  .container
    margin 0 auto
    padding 0 20px
    
  #lasts > .container
    padding 0
  
  p.reading-time,
  p.date
    display block
    margin 0 0 10px 0
    span
      display none
