mixin printCategory (where, doc)

  case where



    when 'postMeta'
      a(href=ctx.linkResolver(doc.document))
        span=_.find(rawCategories, {'id': doc.id}).titolo

    when 'postAll'
      ul.categories
        if doc && doc.value.length > 0
          each category, catIndex in doc.value
            li
              +printCategory('postMeta', category.getLink('Categoria'))
        else
          li
            span='Varie'

    default
      pre(style='display:none;')=JSON.stringify(doc, null, 2)