doctype html(lang='en')

head
  title Your prismic.io project
  link(rel="stylesheet", href="/css/style.css")
  // Required for Previews and Experiments
  script(src="//static.cdn.prismic.io/prismic.min.js")

body

  header
    a(href="/")
       h1 Your prismic.io project


  each cat in categories
    ul
      li: strong #{cat.titolo}
      each subcat in cat.sottocategorie
        li: em #{subcat.titolo}

  block body



  script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='/js/main.js')